# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
VENV/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.py[cod]
*.mo

# Media / uploads
media/
staticfiles/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.DS_Store

# Python packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Dependency directories
pip-wheel-metadata/
__pypackages__/

# Environment files
.env
.env.*
.venv

# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django migrations (opcional, si quieres ignorarlas)
*/migrations/*.py
*/migrations/*.pyc
