{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Nueva Publiacion {% endblock %}

{% block page_content %}

    <div class="Container">
        {% include '_includes/messages.html' %}

        <h1> Nueva Publiacion </h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ form.image | as_crispy_field }}
                    {{ form.text | as_crispy_field }}
                </div>
            </div>

            <button class="btn btn-secondary"> Publicar </button>

        </form>
    </div>

{% endblock %}